@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&display=swap");

:root {
	--link-color: #c64f24;
	--text-color: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--text-color);
}
*:focus {
	color: #212529;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h5 {
	font-family: "Open Sans", sans-serif;
}
p,
a,
form {
	font-family: "Lato", sans-serif;
}

a {
	display: block;
}

a:link,
a:visited {
	color: var(--link-color);
}

/* a:visited {
	color: rgb(92, 67, 0);
} */
a:active,
a:hover {
	color: var(--link-color);
}
