.search-container {
	margin-bottom: 1rem;
	position: relative;
}

.search-container_input-container {
	position: relative;
	display: flex;
	width: 100%;
}

.search-container_input {
	width: 100%;
	padding: 0.6rem;
	font-size: 1.2rem;
	border: none;
}

.reset-input-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 3rem;
	padding: 0.5rem;
	border: none;
	background-color: #fff;
}
.reset-input-button::placeholder {
	overflow: hidden;
}

.search-container_button {
	padding: 1rem;
	border: none;
	background-color: #c64f24;
	color: #fff;
}

.search-results_container {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 0.5rem;
	background: #fff;
	box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.6);
}

.search-results_title {
	font-size: 1rem;
	font-weight: bold;
	/* color: silver; */
	padding: 0.5rem 0;
}

.search-results_text {
	display: block;
	margin-bottom: 0.5rem;
}
